@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / 3;
  display: grid;
  align-content: start;
  gap: 50px;
  color: white;
  padding: 1.2rem;
  font-weight: bold;
}

.branding {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  gap: 15px;
}

.logo {
  fill: white;
  width: 3rem;
  justify-self: center;
}

.logo-text {
  font-size: 1.7rem;
  justify-self: start;
}

.nav {
  display: grid;
  gap: 15px;
}

.nav li {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  gap: 15px;
  font-size: 1.4rem;
}

.icon {
  fill: white;
  width: 1.6rem;
  justify-self: center;
}

.main-content {
  background-color: #e2e8f0;
}
