@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / 3;
  display: grid;
  align-content: start;
  gap: 50px;
  color: white;
  padding: 1.2rem;
  font-weight: bold;
}

.branding {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  gap: 15px;
}

.logo {
  fill: white;
  width: 3rem;
  justify-self: center;
}

.logo-text {
  font-size: 1.7rem;
  justify-self: start;
}

.nav {
  display: grid;
  gap: 15px;
}

.nav li {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  gap: 15px;
  font-size: 1.4rem;
}

.icon {
  width: 1.6rem;
}

.icon-sidebar {
  fill: white;
  justify-self: center;
}

.header {
  display: grid;
  gap: 20px;
  margin: 20px;
  font-weight: bold;
}

.header-top,
.header-bottom {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-top > .header-right {
  margin-right: 40px;
}

.header-bottom > .header-right {
  margin-right: 25px;
}

.profile-1 {
  fill: #facc15;
}

.header-top .profile-1 {
  width: 2.8rem;
}

.header-bottom p {
  margin-left: 15px;
}

.search {
  width: 650px;
  height: 1.8rem;
  background-color: #e2e8f0;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  margin-left: 15px;
}

.header-bottom .profile-1 {
  width: 4.8rem;
}

.header-bottom p:nth-child(2) {
  font-size: 1.7rem;
}

.button {
  border-style: none;
  font-size: inherit;
  font-weight: inherit;
  background-color: #1992d4;
  padding: 10px 28px;
  border-radius: 20px;
  color: white;
}

.main-content {
  background-color: #e2e8f0;
  box-shadow: inset 0 5px 10px -10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 20px 50px 20px;
  gap: 20px;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.title {
  align-self: end;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px grey;
  display: grid;
}

.p-card {
  border-left: 8px solid #f0b429;
  padding: 25px;
  gap: 10px;
}

.p-card p {
  color: #5e5e5e;
}

.icon-row {
  align-self: end;
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
}

.side {
  display: grid;
  gap: 30px;
  grid-template-rows: 1fr 1fr;
}

.announcements {
  display: grid;
  grid-template-rows: auto 1fr; 
}

.a-card {
  padding: 0 20px;
  align-items: center;
}

.a-card p {
  color: #5e5e5e;
  font-size: 0.8rem;
}

.sep {
  border-top: 1px solid #5e5e5e;
}

.trending {
  display: grid;
  grid-template-rows: auto 1fr;
}

.t-card {
  padding: 0 20px;
  align-items: center;
}

.accounts {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
}

.accounts svg {
  margin-right: 10px;
}

.t-card .profile-1,
.profile-2,
.profile-3,
.profile-4 {
  width: 2.8rem;
}

.profile-2 {
  fill: #e0f2fe;
}

.profile-3 {
  fill: #a3a3a3;
}

.profile-4 {
  fill: #fda4af;
}

.t-card p:nth-child(2) {
  color: #5e5e5e;
}
